<form class="users-form" action="/users/update" method="POST">
    <h5>Edit User</h5>
    <input type="hidden" name="id" value="<%= user.id %>">

    <div class="field label border round large">
        <input type="text" name="name" id="name" value="<%= user.name %>">
        <label for="name">Name</label>
    </div>

    <div class="field label border round large">
        <input type="text" name="email" id="email" value="<%= user.email %>">
        <label for="email">Email</label>
    </div>

    <div class="field label border round large">
        <input type="password" name="password" id="password">
        <label for="password">New password (not required)</label>
    </div>

    <nav class="center-align no-space">
        <button type="button" class="transparent link">Cancel</button>
        <button type="submit" class="transparent link">Update</button>
    </nav>
</form>
