form.users-form(action="/users/update" method="POST")
	h5 Edit User
	//- Hidden input for User ID
	input(type="hidden" name="id" value=user.id)

	.field.label.border.round.large
		input(type="text" name="name" id="name" value=user.name)
		label(for="name") Name

	.field.label.border.round.large
		input(type="text" name="email" id="email" value=user.email)
		label(for="email") Email

	.field.label.border.round.large
		input(type="password" name="password" id="password")
		label(for="password") New password (not required)

	nav.center-align.no-space
		button(type="button" class="transparent link") Cancel
		button(type="submit" class="transparent link") Update